

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">

        $(document).ready(function getSearchResult() {
           
           
        
            $.ajax({  
                  
                type: "POST",  
                url: 'http://localhost:61322/Home/GetSearchResult',  
                cache: false,
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    drawTable(data);
                    
                },

                error: function(data){
                    console.log(data);
            }
                 
               
           
            });

            function drawTable(data) {
                for (var i = 0; i < data.length; i++) {
                    drawRow(data[i]);
                }
            }

            function drawRow(rowData) {
                var row = $("<tr />")
                $("#placeholder").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
                row.append($("<td>" + rowData.RegNumber + "</td>"));
                row.append($("<td>" + rowData.Model + "</td>"));
                row.append($("<td>" + rowData.Producer + "</td>"));
            }

        })
        
    </script>        
        
    
    
</head>
<body>
    <div class="table">
        <table id="placeholder" class="table-bordered">

            <tr>
                <th>RegNumber</th>
                <th>Model</th>
                <th>Producer</th>
            </tr>


        </table>
    </div>   
    
</body>
</html>
